
<h1>Usuários</h1>

<p class="text-muted">Administradores podem editar todos os usuários</p>

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Tipo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
            <tr>
                <td><%= user.email %></td>
                <td><%= user.admin ? 'Administrador' : 'Entregador' %></td>
                <td>
                <%if current_user.admin %>
                    <%= link_to 'Editar', editar_usuario_url(user), class: "btn btn-outline-secondary btn-sm" %>
                    <%= link_to 'Remover', deletar_usuario_url(user), method: :delete, class: "btn btn-outline-danger btn-sm", data: { confirm: 'Você tem certeza?' } %>
                <%end%>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

<% if current_user.admin %>
    <%= link_to 'Novo Usuário', novo_usuario_url, class: "btn btn-primary" %>
<% end %>

