<p id="notice"><%= notice %></p>

<h1>Pedidos</h1>

<table class="table">
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Observacoes</th>
      <th>Data</th>
      <th>Total</th>
     
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pedidos.each do |pedido| %>
      <tr>
        <td><%= pedido.cliente.nome %></td>
        <td><%= pedido.observacoes %></td>
        <td><%= l pedido.data %></td>
        <td><%=   number_to_currency pedido.total %></td>
        <td><%= link_to 'Detalhes', pedido, class: "btn btn-outline-success btn-sm" %>
        <% if current_user.admin %>
        <%= link_to 'Editar', edit_pedido_path(pedido), class: "btn btn-outline-secondary btn-sm" %>
        <%= link_to 'Deletar', pedido, method: :delete, data: { confirm: 'Você tem certeza?' }, class: "btn btn-outline-danger btn-sm" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.admin %>
<%= link_to 'Novo Pedido', new_pedido_path, class: "btn btn-primary" %>
<% end %>
